In [117]:
import pandas as pd
import os
import numpy as np

In [118]:
df = pd.DataFrame()
for file in os.listdir('/root/workspace/THERAVATARS_NN/transcripts'):
    temp = pd.read_csv('/root/workspace/THERAVATARS_NN/transcripts/' + file, delimiter= '\t')
    df = pd.concat([df,temp],axis = 0, ignore_index = True)
df

,start_time,stop_time,speaker,value
0,12.170,13.010,Participant,<synch>
1,32.564,54.104,Ellie,IntroV4Confirmation (hi i'm ellie thanks for c...
2,54.180,54.720,Participant,yes
3,56.445,56.905,Ellie,okay_confirm (okay)
4,58.401,60.671,Ellie,how_doingV (so how are you doing today)
...,...,...,...,...
47395,1246.748,1249.188,Ellie,asked_everything (okay i think i have asked ev...
47396,1249.941,1251.381,Ellie,appreciate_open (thanks for sharing your thoug...
47397,1251.622,1252.122,Participant,thank you
47398,1252.602,1253.212,Ellie,bye (goodbye)
47399,1253.336,1253.785,Participant,bye

In [119]:
df_pat = df.loc[df["speaker"] == "Participant"].head(10000).copy()
df_ther = df.loc[df["speaker"] != "Participant"].head(10000).copy()

In [120]:
df_ther

,start_time,stop_time,speaker,value
1,32.564,54.104,Ellie,IntroV4Confirmation (hi i'm ellie thanks for c...
3,56.445,56.905,Ellie,okay_confirm (okay)
4,58.401,60.671,Ellie,how_doingV (so how are you doing today)
7,63.559,64.199,Ellie,thats_good (that's good)
8,66.872,67.592,Ellie,awesome (awesome)
...,...,...,...,...
31426,165.220,165.710,Ellie,really
31428,166.920,168.860,Ellie,how are you at controlling your temper
31430,172.220,172.930,Ellie,that's great
31431,173.610,176.580,Ellie,when was the last time you argued with someone...
31435,188.960,189.390,Ellie,mhm

In [126]:
def concat_sentences(df: pd.DataFrame) -> pd.DataFrame:
    sentence_count=1
    sentence = ""
    for i in range(len(df)):
        if i > 0 and df.loc[i, "speaker"] != df.loc[i-1, "speaker"] and float(df.loc[i, "stop_time"]) - float(df.loc[i-1,"start_time"]) >= 0.5: #type:ignore
            sentence = df.loc[i,"value"]
            df.loc[i,"sentence"] = sentence
            sentence_count+=1
        
        else: sentence = str(sentence) + " " + str(df.loc[i, "value"])
        df.loc[i,"sentence"] = sentence
        df.loc[i, "sentence_count"] = int(sentence_count)
    df = df.loc[df.groupby('sentence_count')['sentence'].apply(lambda x: x.str.len().idxmax())].reset_index(drop=True)
        
    return df

In [127]:
df = concat_sentences(df)

In [108]:
df.loc[df.groupby('sentence_count')['sentence'].apply(lambda x: x.str.len().idxmax())].reset_index(drop=True)

,start_time,stop_time,speaker,value,sentence,sentence_count
0,12.170,13.010,Participant,<synch>,<synch>,1.0
1,32.564,54.104,Ellie,IntroV4Confirmation (hi i'm ellie thanks for c...,IntroV4Confirmation (hi i'm ellie thanks for c...,2.0
2,54.180,54.720,Participant,yes,yes,3.0
3,58.401,60.671,Ellie,how_doingV (so how are you doing today),okay_confirm (okay) how_doingV (so how are you...,4.0
4,63.015,64.795,Participant,this is an interesting experiment,spectacular this is an interesting experiment,5.0
...,...,...,...,...,...,...
21165,1245.181,1245.721,Participant,thank you,thank you,21166.0
21166,1249.941,1251.381,Ellie,appreciate_open (thanks for sharing your thoug...,asked_everything (okay i think i have asked ev...,21167.0
21167,1251.622,1252.122,Participant,thank you,thank you,21168.0
21168,1252.602,1253.212,Ellie,bye (goodbye),bye (goodbye),21169.0
21169,1253.336,1253.785,Participant,bye,bye,21170.0

In [80]:
df.loc[df.groupby('sentence_count')['sentence'].apply(lambda x: x.str.len().idxmax())].reset_index(drop=True)

,start_time,stop_time,speaker,value,sentence,sentence_count
0,12.170,13.010,Participant,<synch>,<synch>,1.0
1,32.564,54.104,Ellie,IntroV4Confirmation (hi i'm ellie thanks for c...,IntroV4Confirmation (hi i'm ellie thanks for c...,2.0
2,54.180,54.720,Participant,yes,yes,3.0
3,56.445,56.905,Ellie,okay_confirm (okay),okay_confirm (okay),4.0
4,58.401,60.671,Ellie,how_doingV (so how are you doing today),okay_confirm (okay) how_doingV (so how are you...,4.0
...,...,...,...,...,...,...
47395,1246.748,1249.188,Ellie,asked_everything (okay i think i have asked ev...,asked_everything (okay i think i have asked ev...,21167.0
47396,1249.941,1251.381,Ellie,appreciate_open (thanks for sharing your thoug...,asked_everything (okay i think i have asked ev...,21167.0
47397,1251.622,1252.122,Participant,thank you,thank you,21168.0
47398,1252.602,1253.212,Ellie,bye (goodbye),bye (goodbye),21169.0
47399,1253.336,1253.785,Participant,bye,bye,21170.0

In [54]:
df_test = pd.DataFrame({'Animal': ['Falcon', 'Dinosaur',
                              'Dinosaur', 'Parrot'],
                   'Max Speed': [380., 380., 26., 26.]})

In [55]:
df_test.groupby(['Animal']).max()

          Max Speed
Animal
Dinosaur      380.0
Falcon        380.0
Parrot         26.0

In [45]:
df_test

     Animal  Max Speed
0    Falcon      380.0
1  Dinosaur      380.0
2     Shark       26.0
3    Parrot       26.0

In [65]:
df['value'][3]

'okay_confirm (okay)'

In [128]:
df

,start_time,stop_time,speaker,value,sentence,sentence_count
0,12.170,13.010,Participant,<synch>,<synch>,1.0
1,32.564,54.104,Ellie,IntroV4Confirmation (hi i'm ellie thanks for c...,IntroV4Confirmation (hi i'm ellie thanks for c...,2.0
2,54.180,54.720,Participant,yes,yes,3.0
3,58.401,60.671,Ellie,how_doingV (so how are you doing today),okay_confirm (okay) how_doingV (so how are you...,4.0
4,63.015,64.795,Participant,this is an interesting experiment,spectacular this is an interesting experiment,5.0
...,...,...,...,...,...,...
21165,1245.181,1245.721,Participant,thank you,thank you,21166.0
21166,1249.941,1251.381,Ellie,appreciate_open (thanks for sharing your thoug...,asked_everything (okay i think i have asked ev...,21167.0
21167,1251.622,1252.122,Participant,thank you,thank you,21168.0
21168,1252.602,1253.212,Ellie,bye (goodbye),bye (goodbye),21169.0
21169,1253.336,1253.785,Participant,bye,bye,21170.0